<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmacion Dudas</title>

      </style>
  <style>
body{ 
  background-color: lightgreen
};


h2 {
    color: black;
    text-align: center;
}
h1 {
    color: white ;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
</head>
<body>
    <div>
      <p> Nombre:  {{ nombre_name }}</p>
      <p> Edad: {{ duda }} </p>
      <p> Genero: {{ seccion }}
      <p> Direccion: {{ signo }} </p>
      <p> Codigo postal: {{ duda2 }} </p>
      <p> Tu mail: {{ email }} </p>
      <p> Tu pedido: {{ pedido }} </p>
      <h1> ¡Tu pedido se ha efectuado exitosamente!</h1>
      
    </div>
</body>
</html>
