{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Contacto</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <style type="text/css">
    .jumbotron {
      margin: 30px;
    }
    </style>
</head>
<body>
    <div class="container">
        {% include 'app_de_IN3501/menu.html' %}
        <div id="titulo">
            <h1>Contacto</h1>
        </div>
        <form method="POST" action="/resultado">{%csrf_token%}
           <div class="form-group">
       		 <input type="text" placeholder="Ingresa tu Nombre" id='nombre' name="nombre">
           </div>
           <div class="form-group">
       		 <input type="email" placeholder="Ingresa tu Mail" id='mail' name="mail">
           </div>
           <div class="form-group">
           <input type="text" placeholder="Ingresa tu Teléfono" name="telefono">
           </div>
           <div class="form-group">
          <label for="explicacionareadetexto">Comuna</label>
       		 <select class="form-control" id="Comuna" name="seccion">
           <option value=""></option>
       		 <option value="Cerrillos">Cerrillos</option>
           <option value="Cerro Navia">Cerro Navia</option> 
           <option value="Conchalí">Conchalí</option>
           <option value="El Bosque">El Bosque</option>
           <option value="Estación Central">Estación Central</option>
           <option value="Huechuraba">Huechuraba</option>
           <option value="Independencia">Independencia</option>
           <option value="La Cisterna">La Cisterna</option>
           <option value="La Florida">La Florida</option>
           <option value="La Granja">La Granja</option>
           <option value="La Pintana">La Pintana</option>           
           <option value="La Reina">La Reina</option>
           <option value="Las Condes">Las Condes</option>
           <option value="Lo Barnechea">Lo Barnechea</option>
           <option value="Lo Espejo">Lo Espejo</option>
           <option value="Lo Prado">Lo Prado</option>
           <option value="Macul">Macul</option>
           <option value="Maipú">Maipú</option>
           <option value="Ñuñoa">Ñuñoa</option>
           <option value="Padre Hurtado">Padre Hurtado</option>
           <option value="Pedro Aguirre Cerda">Pedro Aguirre Cerda</option>
           <option value="Peñañolén">Peñalolén</option>
           <option value="Providencia">Providencia</option>
           <option value="Pudahuel">Pudahuel</option>
           <option value="Puente Alto">Puente Alto</option>
           <option value="Quilicura">Quilicura</option>
           <option value="Quinta Normal">Quinta Normal</option>
           <option value="Recoleta">Recoleta</option>
           <option value="Renca">Renca</option>
           <option value="San bernardo">San Bernardo</option>
           <option value="San Joaquín">San Joaquín</option>
           <option value="San Miguel">San Miguel</option>
           <option value="San Ramón">San Ramón</option>
           <option value="Santiago">Santiago</option>
           <option value="Vitacura">Vitacura</option>
       		 </select>
           </div>
           <div class="form-group">
           <label for="ExplicacionContacto">Seleccione su motivo de contacto</label>
           <select class="form-control" id="TipoContacto" name="TipoContacto">
           <option value="Duda">Duda</option>
           <option value="Sugerencia">Sugerencia</option> 
           <option value="Reclamo">Reclamo</option>
           </select>
           </div>

           <div class="form-group">
           <input type="textArea" class="form-control" placeholder="¿Qué necesitas?" id="opinion" name="opinion" row="3">
           </div>

       		 <input type="submit">
   		 </form>
   	</div>
</body> 
</html>
